
<div class="container-text">
  <br>
  <h3 class="user-profile-title">Nice to see you again <strong><%= @user.username %></strong>!</h3>
  <br>
  <h2 class="user-profile-title">Your subscriptions</h2>
  <% podcasts = @user.all_following.select { |podcast| podcast.is_a? Podcast } %>
  <%= render 'shared/carousel', podcasts: podcasts %>

  <h2 class="user-profile-title">Following</h2>
  <% followings = current_user.all_following.select { |user| user.is_a? User } %>
  <%= render 'shared/profile_carousel', users: followings  %>
     <div class="btn-friends"><%= link_to "Whose friends of yours use dopcast too?", users_path %></div>


  <h2 class="user-profile-title">Your followers</h2>
  <% followers = current_user.followers.select { |user| user.is_a? User } %>
  <%= render 'shared/profile_carousel', users: followers  %>

  <h2 class="user-profile-title">Playlists</h2>
  <% current_user.playlists.each do |playlist| %>
    <h4 class="user-profile-playlist"><strong><%= playlist.name %></strong></h4>
    <%= render 'shared/episodes_carousel', episodes: playlist.episodes %>
  <% end %>
</div>


<div class="container-text">





    <!-- < %= link_to "Create a new playlist", new_user_playlist_path(current_user) % >
     -->


<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>

      <%= link_to "Add or change your photo", edit_user_path(@user) %>


    <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>

</div>
