<div class="navbar-wagon navbar-fixed-top">

  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <div class="navbar-form">
    <div class="input-group">
      <%= form_for :query, method: :get, url: '/podcasts' do |form| %>
      <%= form.text_field :q, class: "form-control-banner", placeholder: "Search", value: params.dig(:query, :q) %>
      <div class="input-group-btn">
        <button class="btn btn-default" id="load" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
      <% end %>
    </div>
  </div>

  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <%= link_to "Feed", feed_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My Profile", my_profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My Activities", your_actions_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "All Activities", all_activities_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>

    <% else %>

      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "log-button" %>

    <% end %>
  </div>
</div>
