<div class="white-navbar navbar-fixed-top">


    <div class="stage">
      <div class="cell">
        <div class="searchbar">
          <%= form_for :query, method: :get, url: '/podcasts', :html => {:id => 'teste' } do |form| %>
      <%= form.text_field :q, class: "btn-extended", placeholder: "Search", value: params.dig(:query, :q) %>
            <% end %>
          <div class="btn-search"></div>
        </div>
      </div>
    </div>

  <div class="white-navbar-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <%= link_to "Feed", feed_path, class: "white-navbar-item white-navbar-link" %>
    <%= link_to "My Profile", my_profile_path, class: "white-navbar-item white-navbar-link" %>
    <%= link_to "My Activities", your_actions_path, class: "white-navbar-item white-navbar-link" %>
    <%= link_to "All Activities", all_activities_path, class: "white-navbar-item white-navbar-link" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "white-nav-log-button" %>

    <% else %>

      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "white-nav-log-button" %>

    <% end %>
  </div>
</div>
<script language="javaScript">
  $('.btn-search').click(function(){
  console.log("test")
  $('.searchbar').toggleClass('clicked');
  $('.stage').toggleClass('faded');


  if($('.searchbar').hasClass('clicked')){
    $('.btn-extended').focus();
  }

});
</script>
