<li class="list-group-item">
  <div class="feed-container">
  <%= cl_image_tag a.trackable.user.photo, class: "img-feed" %>
  <span class="glyphicon glyphicon-thumbs-up"></span>
  <div class="feed-content">
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small>
  <% if a.trackable %>
  <p><%= link_to a.trackable.user.username, user_path(a.trackable.user_id) %> started following <%= link_to a.trackable.likeable.collection_name, podcast_path(a.trackable.likeable) %></p>
  <%= image_tag a.trackable.likeable.image, class: "img-feed" %>
  <% else %>
    A liking that is currently deleted was added.
  <% end %>
    </div>
  </div>
</li>
