<li class="list-group-item">
  <span class="glyphicon glyphicon-thumbs-up"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <% if a.trackable %>
    <%= link_to a.owner.username, user_path(a.owner) %> liked the episode <%= link_to a.trackable.title, episode_path(a.trackable) %> from <%= link_to a.trackable.podcast.title, podcast_path(a.trackable.podcast) %>
  <% else %>
    A podcast that is currently deleted was added.
  <% end %>
  <%= image_tag a.trackable.image, class: "img-feed" %>
</li>
