<div class="container-text">

<h2 class="user-profile-title">Create a new Playlist</h2>

<!-- <form>
  <div class="form-group">
    <label for="InputPlaylistName">New Playlist name</label>
    <input type="text" class="form-control" id="InputPlaylistName" aria-describedby="nameHelp" placeholder="Enter your new Playlist name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 -->
<div form-playlist>
<%= simple_form_for [current_user, @playlist] do |f| %>
  <%= f.input :name %>
  <%= f.hidden_field :episode_id, value: params["episode_id"] %>
  <%= f.submit %>
<% end %>
</div>


<!--  <form action="user_playlists_path", method="post">
  <input type="text" name="playlistname" value=<%=  %>><br>
  <input type="submit" value="Submit">
</form> -->

</div>
