<%= render "shared/sidebar" %>
<div class="container-text">
  <div class="container-show">
    <h1><%= @podcast.title %></h1>
    <div class="podcard-show">
      <div class="row">
        <div class="col-xs-3">
          <div class="podcard-img">
            <%= image_tag @podcast.image, class: "img-responsive" %>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="info-cards">
            <h2>Author: <%= @podcast.publisher %></h2>
            <h3>Language: <%= @podcast.language %></h3>
            <h3>Country: <%= @podcast.country %></h3>
            <%= link_to like_podcast_path(@podcast), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge"><%= @podcast.get_upvotes.size %></span>
            </button>
            <% end %>
            <%= link_to unlike_podcast_path(@podcast), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge"><%= @podcast.get_downvotes.size %></span>
            </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @podcast.episodes_list.each do |podcast| %>
  <div class="info-cards">
    <p><strong>Title:</strong> <%= podcast["title"] %></p>
    <p><strong>Description:</strong> <%= podcast["description"] %></p>
    <p><strong>Duration:</strong> <%= podcast["audio_length"] / 60 %> min</p>
    <%= link_to("Play", podcast["audio"]) %>
  </div>
  <% end %>

  <!-- <div class="reviews">
    <h3>Leave a comment below!</h3>
    < %= render 'comments/form_podcasts', commentable: @podcast %>
    < % if @podcast.comments  %>
      < % @podcast.comments.each do |comment| %>
      <p><strong>< %= comment.user.email %> :</strong></p>
      <p>< %= comment.comment %></p>
      <br>
      < % end %>
    < % end %>
  </div> -->
</div>

