<h1>Podcast SHOW Test Page</h1>
<%= image_tag @podcast.image %>
<%= render 'comments/form_podcasts', commentable: @podcast %>


<% if @podcast.comments  %>
<% @podcast.comments.each do |comment| %>
  <p><strong><%= comment.user.email %>:</strong></p>
  <p> <%= comment.comment %></p>
  <% end %>
<% end %>

<%= link_to like_podcast_path(@podcast), class: "like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @podcast.get_upvotes.size %></span>
  </button>
<% end %>

<%= link_to unlike_podcast_path(@podcast), class: "like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @podcast.get_downvotes.size %></span>
  </button>
<% end %>
